/* フォームレイアウト　*/

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=date],
input[type=number],
input[type=time],
textarea {
    width: 360px;
    padding: 7px;
    margin: 10px;
    border-radius: 8px;
    border: 1.5px solid #009588;
}


.hotel-create{
	 width: 780px;
}

/* フォームレイアウトここまで　*/

body {
    font-family: "Arial",  sans-serif;
    padding:0; /*　追加*/
    margin:0; /*　追加*/
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
  font-weight:bold;
  font-size:25px;
  color: #009588;
  text-align: center;
  }


h2 {
  font-weight:bold;
  font-size:18px;
  color: #009588;
  text-align: center;
  }
 

/* ヘッダーレイアウト */
header {
    background: #009588;
    margin: 0 auto;
    padding: 30px;
    
}

header .header {
    display: flex;
    justify-content: space-between;

}

header .brand {
    display: block;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
}

header a:visited{
	color: #ffffff;
}


/* ヘッダーレイアウトここまで */

/* ナビゲーションレイアウト */
.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    }

.navigation li {
    padding: 0 10px;
    color: #ddd;
    }

.navigation a {
	text-decoration:none;
}

.navigation a:link {
	color : #ffffff;
}

.navigation a:visited{
	color : #ffffff;
} 

/* ナビゲーションレイアウトここまで */

/* フッターレイアウト */

footer {
    background: #009588;
    list-style: none;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer {
    list-style: none;
    text-align: right;
   
}

footer .footer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;    
}

/* フッターレイアウトここまで */

/* テーブルレイアウト */
table {
     border-collapse: collapse;
     width: 100%;
     height: 100%;
     margin-left:20px;
     border: 1.5px solid  #009588;
}

table th{
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;  
  color:  #009588;
}

table td {
padding: 10px 10px;
border-bottom: 1px solid #ddd;
}

/* テーブルレイアウトここまで */

/* 定義レイアウト */
dt {
font-weight: bold;
margin-bottom: 5px;
color: #009588;
}

dd {
margin-bottom: 15px;
margin-left:1px;
}
/* 定義レイアウトここまで */

/* ラベルレイアウト */

label {

margin-bottom: 5px;
color: #009588;
font-weight: bold;
}

/* ラベルレイアウトここまで */



/* リストレイアウト */
ul.pagination {
padding: 0;
list-style: none;

}

li.page-item {
display: inline-block;
padding: 8px;
}

/* リストレイアウトここまで */

   /* リンクレイアウト */

  
   
   /* リンクレイアウトここまで */

  /* トップページレイアウト */

    
    .subtitle{
     font-size: 20px;
     font-weight: bold;
     color: #c1c7c6;
     text-align: center;
     margin-top:60px;
    }

    /* --- 親要素 ------------------------ */
.imgArea {
  display    : inline-block;
  position   : relative;
  padding    : 0
}
 /* --- 文字BOX(子要素) ------------------ */
.over {
  position   : absolute;                   /* 親要素からの絶対位置 */
  box-sizing : border-box;
  white-space: nowrap;                     /* 折返しなし */
  display    : b0ock;                      /* ブロック要素にする */
  width      : 56%;                       /* 親要素の幅に合わせる */
  color      : #ffffff;    /* 文字色（透明度） */
  background : #009588;  /* 背景色（透明度） */
  top        : 60%;                        /* 親要素からの上位置 */
  left       : 0;                          /* 親要素からの左位置 */
  text-align : right;                     /* 文字位置 */
  transform  : translateY(-50%);           /* 文字BOXの位置ずらし */
  padding    : 10px;                       /* BOX内の余白 */
  font-size  : 35pt;                       /* 文字サイズ */
  font-weight: bold;                       /* 太字 */
  line-height: em;                        /* 1行の高さ */
  margin-left: 644px;
}


 /*=== 画像の表示エリア ================================= */
.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 550px;
  height     : 400px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
 
 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  left       : 100%;
  animation  : slideAnime 9s ease infinite;
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 3s }
.slide img:nth-of-type(3) { animation-delay: 6s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { left: 100%  }
   5% { left: 0     }
  28% { left: 0     }
  33% { left: -100% }
 100% { left: -100% }
}


.box {
  overflow     : hidden;
  position     : relative;
  width        : 50px;
  height       : 50px;
  background   : #009588;
  border-radius: 50%;
}

.box span {      /* 前面の文字エリア */
  position     : absolute;
  display      : inline-block;
  top          : 50%;
  left         : 50%;
  padding      : 3px;
  color        : #ffffff;
  transform    : translate(-50%,-50%);
  font-size    : 15pt;
  font-weight  : bold;
  border-radius: 5px;
}

.box.img1 {
	margin-left: 170px;

}

.box.img2 {
	margin-left: 470px;
	margin-top: -50px;
}

.box.img3 {
	margin-left: 770px;
	margin-top: -50px;
}

.copy{
	font-size:10px;
}

    .top_image {
    width: 280px;
    height:180px;
    margin: 1px;
    margin-left: 40px;
    border-radius:5px;
    }

    .site_image {
    	width:1000px;
    	margin-top:-20px;
    	margin-left:-130px;
    
      }

    .season {
    	display: flex;
    }

    .season p{
    	margin:10px 86px;
    }

     .step {
    	display: flex;
    }

    .step p{
    	margin:30px 69px;
    	text-align:center;
    }

/*トップページレイアウトここまで */

/*ログインページレイアウト */

  .first-form {
     background-color: #e8e8e8;
     text-align:center;
     width: 400px;
     height: 280px;
     margin-left: 270px;
     margin-top: 30px;
     padding:30px;
     border-radius: 10px;
    }

section {
  max-width: 300px;
  margin: auto;
  margin-bottom:20px
}

a.btn_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: #fff;
  border: #009588;
  position: relative;
}

a.btn_1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #fff;
  box-sizing: border-box;
  color: #009588;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration: none;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  transition-duration: 0.2s;
}

a.btn_1:hover span {
  left: 0;
  top: 0;
  box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
}

button.btn_2 {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: #009588;
  position: relative;

}

button.btn_2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #009588;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration: none;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  transition-duration: 0.2s;
}

button.btn_2:hover span {
  left: 0;
  top: 0;
  box-shadow: 0 0 4px #696b6d, -2px -2px 4px #FFF; 
}

#register-script {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 13px;
}    
/*ログインページレイアウトここまで */

/*会員登録ページレイアウト */

.second-form {
     width: 400px;
     height:780px;
     margin-left: 260px;
     margin-top: 30px;
     padding:30px;
     border-radius: 10px;
     border: 1.5px solid  #009588 ;
     background-color: #ffffff;
    }

.button-container{
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 100px;
  align-items: space-between;
}

.button-container button{
 margin-bottom: 100px; 
 width: 200px;
 margin: 0 auto;
}

.button-container div a{
 width: 200px;
 margin: 0 auto;
}

#login-script {
  text-align: center;
  font-size: 13px;
}   
/*会員登録ページレイアウトここまで */

/*マイページレイアウト */
a.btn_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: #009588;
  position: relative;
}

a.btn_3 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background:  #009588;
  box-sizing: border-box;
  color:  #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration: none;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  transition-duration: 0.2s;
}

a.btn_3:hover span {
  left: 0;
  top: 0;
  box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
}

a.btn_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: #009588;
  position: relative;
}

a.btn_4 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background:  #ef5e72;
  box-sizing: border-box;
  color:  #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration: none;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  transition-duration: 0.2s;
}

a.btn_4:hover span {
  left: 0;
  top: 0;
  box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
}

.script {
  text-align: center;
  color: #232020
}

/*マイページレイアウトここまで */
.hotel-form {
     width: 90%;
     height:100%;
     margin-top: 30px;
     padding:30px 0px 10px 70px;
     border-radius: 10px;
     border: 20px solid  #e8e8e8;
     background-color: #e8e8e8;
    }

    .flex{
    	display:flex;
    }
    
/*ホテル追加画面レイアウトここまで*/

/*ホテル詳細画面レイアウト */
.hotel_image {
    width: 450px;
    height:310px;
    margin: 20px;
    margin-left:90px;
    border-radius: 5px;
    float:left;
    }

.hotel-container {
  border-radius: 10px;
  border: 1.5px solid  #009588 
}
    
.six-form {
  width: 100%;
  height:100%;
  margin-top: 30px;
  text-align:center;
  border-radius: 10px;
  background-color:#e8e8e8;
  border: 1.5px solid  #e8e8e8
 }

 #hotel_name{
 	text-align:center;
 	font-size: 25px;
 }
/*ホテル詳細画面レイアウトここまで */

/*セレクトレイアウト*/
.cp_select {
	overflow: hidden;
	width: 37%;
	margin: 0.7em ;
}

.cp_select select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	-webkit-appearance: none;
}

.cp_select select::-ms-expand {
    display: none;
}
.cp_select.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 1.5px solid #009588;
    border-radius: 10px;
	background: #ffffff;
}
.cp_select.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #009588;
}
.cp_select.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #009588;
}
/*セレクトレイアウト*/

/*過去の予約画面レイアウト*/
.old-form {
  width: 100%;
  height:100%;
  margin-left: -40px;
  margin-top: 30px;
  padding:30px;
  border-radius: 10px;
  border: 1.5px solid  #009588 ;
  background-color: #ffffff;
 }
/*過去の予約画面レイアウトここまで*/

/* 口コミ投稿画面レイアウト*/
.review-form {
     background-color: #e8e8e8;
     text-align:center;
     width: 500px;
     height: 100%;
     margin-left: 210px;
     margin-top: 30px;
     padding:30px;
     border-radius: 10px;
    }
/* 口コミ投稿画面レイアウトここまで*/

/*プラン詳細画面レイアウト*/
.fifth-form {
  width: 100%;
  height:100%;
  padding:20px;
  border-radius: 10px;
  border: 1.5px solid  #009588 ;
  background-color: #ffffff;
 }
/*プラン画面レイアウトここまで*/
